.btn {
  background-color: #17A2B8;
  width: 100%;
  height: 45px;
  font-size: 2rem;
  border-radius: 18px;
  color: white;
  text-align: center;
  padding-top: 3%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bungee Shade', cursive;
}
img {
  max-width: 100%;
  height: auto;
}
nav {
  height: 13vh;
  width: 100%;
  background: #DEE58D;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
nav .logo img {
  max-height: 100%;
}
nav .nav-items {
  width: 40%;
  color: #4060A1;
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 1.8rem;
  letter-spacing: 2px;
  justify-content: space-around;
}
nav .nav-items a {
  text-decoration: none;
}
nav .nav-items .home {
  background-color: #EBB3B8;
  padding: 0.7rem;
}
footer {
  text-align: center;
  width: 100%;
  border-top: 2px solid silver;
  background: #dee58d;
}
footer img {
  margin: 1%;
}
footer .languages ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1%;
  list-style: none;
  width: 20%;
  margin-left: 40%;
}
footer .languages ul li a {
  text-decoration: none;
  color: black;
}
.parallax {
  /* The image used */
  background-image: url("../imgs/foodPic.jpg");
  /* Set a specific height */
  height: 20%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-content {
  border: 2px solid #C0C0C0;
  text-align: center;
  width: 100%;
  background-image: url("../imgs/food.jpg");
  padding-bottom: 80%;
}
@media (max-width: 500px) {
  .top-content {
    margin-right: 2%;
    margin-left: 2%;
  }
}
.top-content h1 {
  font-size: 6rem;
  text-align: center;
}
.top-content .why {
  font-size: 4rem;
}
.middle-content {
  text-align: center;
  border: 2px solid #C0C0C0;
}
.middle-content h2 {
  font-size: 6rem;
  text-align: center;
}
.middle-content .pets {
  font-size: 4rem;
  text-align: center;
  padding-right: 5%;
  margin-right: 10%;
  margin-left: 10%;
}
.middle-content img {
  margin-right: -1%;
}
.nutrients-chart {
  text-align: center;
  font-size: 3rem;
}
.nutrients-chart img {
  width: 30%;
}
.myplate-section {
  text-align: center;
  margin-bottom: 2%;
}
.myplate-section .my-plate-content {
  font-size: 3rem;
  margin-right: 15%;
  margin-left: 15%;
}
.myplate-section .my-plate-content .my-plate-p {
  background: rgba(78, 93, 50, 0.12);
}
.myplate-section .my-plate-content ul li {
  background: rgba(222, 229, 141, 0.52);
  text-align: center;
  list-style: none;
  margin-top: 2%;
}
.tokens {
  text-align: center;
}
.tokens img {
  width: 50%;
}
.chart {
  width: 110%;
}
.about-Gigapet {
  background-image: url(../imgs/zoo.jpg);
}
.team {
  font-size: 4rem;
  text-align: center;
  margin-top: 1%;
}
.about-us {
  margin-top: 2%;
  background: #6664AD;
  width: 50%;
  height: 100vw;
  border: 2px solid yellow;
  text-align: center;
  margin-left: 25%;
}
.about-us a img {
  margin-top: 1%;
  border: 2px solid green;
}
.about-us h2 {
  padding: 1rem;
  border: 2px solid pink;
}
