footer {
  text-align: center;
  width: 100%;
  border-top: 2px solid silver;
  background: #dee58d;
   img{
    margin: 1%;
   }

   .languages ul{
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     margin-top: 1%;
     list-style: none;
     width: 20%;
     margin-left: 40%;

     li a{
       text-decoration: none;
       color:black; 
      }
   }
}