footer {
  text-align: center;
  width: 100%;
  //border-top: 2px solid silver;
  background: @khaki;
   
  img{
    margin: 1%;
   }//this gives all images inside footer a margin

  .apple{
    width: 8.5%;
    
  }

   .social-media{
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;

     a {
       display: flex;
       justify-content: space-between;
       width: 2.5%;
       margin-bottom: 1%;
       text-decoration: none;
       color: @black;
       font-size: 2rem;

       
      img{
       width: 70%;
      }//this closes images inside social media class

    }//closing a tag

    #contact-us{
      width: 60%;
      background: @slate-blue;
      border-radius: 3rem;
      font-size: 1.7rem;
    }//closing contact-us

    #contact-us:hover{
      background: @steel-blue;
    }//closing contact-us for hover (remember that with media queries I'll need &

  }//this closes social media 

   .languages ul{
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     margin-top: 1%;
     list-style: none;
     width: 20%;
     margin-left: 40%;

     li a{
       text-decoration: none;
       color: @black; 
      }//this closes a tags inside li inside languages 
   }//this closes ul inside languages class
}//this closes footer